# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDEs and Editors
.vscode/
.idea/
*.iml

# OS Files
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
tmp/
out/
coverage/
.cache/

# Dependencies
package-lock.json
yarn.lock
